<!DOCTYPE html>
<html>
    <head>
        <title>HBNB States</title>
    </head>
    <body>
        <H1>States</H1>
        <UL>
            {% for values in states_list.values() %}
            <LI>{{ values['id'] }}: <B>{{ values['name'] }}</B></LI>
                <UL>
                    {% for v in cities_list.values() %}
                    {% if v.state_id == values.id %}
                    <LI> {{ v.id }}: <B>{{ v.name }}</B></LI>
                    {% endif %}
                    {% endfor %}
                </UL>
        {% endfor %}
        </UL>
    </body>
</html>